@import "animationsDestroy.css";
@import "figure/button.css";
@import "figure/trapezoid.css";

.body {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.letter {
    display: inline;
    font-size: 6vh;
}

.content-main {
    position: absolute;
    top: 15vh;
    left: 15vw;
    width: 70vw;
    height: 70vh;
    grid-area: content1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    grid-area: footer;
    background-color: royalblue;
}

.superback {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    background: radial-gradient(rgb(182, 170, 170) ,white  );
    border-color: rgb(182, 170, 170);
    z-index: -1;
}

.superback-img {
    display: none;
    position: absolute;
    right: 10%;
    bottom: -5%;
}

.greatings {
    color: white;
    font-size: 6vh;
    position: absolute;
    z-index: 100;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stick {
    display: inline;
    animation: animationStick;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
}

.greetings-wrapper {
      padding: 10%;
}

.greetings {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.botton-destroy {
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21vh;
    height: 14vh;
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(253, 253, 253, 0.658)) rgb(39, 37, 37) repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-radius: 3%;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: white;
    text-decoration:none;
    line-height: 20px;
    margin: 20px auto;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    animation: pulsate 1.2s linear infinite;
}

.botton-destroy:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}

.botton-destroy:hover {
    cursor: pointer;
  -webkit-transform: translateY(-2vh);
  -ms-transform: translateY(-2vh);
  transform: translateY(-2vh);
}

.botton-destroy:hover:before {
  opacity: 1;
  -webkit-transform: translateY(2vh);
  -ms-transform: translateY(2vh);
  transform: translateY(2vh);
}

.botton-destroy-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 2vh;
}

.quote-after {
    height: 10%;
    width: 20%;
    position: absolute;
    top:45%;
    left:40%;  
}

@keyframes animationStick {
    49%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes pulsate {
    30%{background:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(253, 253, 253, 0.658)) rgb(39, 37, 37) repeat-x;}
    50%{background:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.911)) rgb(160, 157, 157) repeat-x;}
    70%{background:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(253, 253, 253, 0.658)) rgb(39, 37, 37) repeat-x;}
}

 